.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgba(211, 211, 211, 0.5);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  width: 100%;

  .wrapper {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
      border-radius: 5px;

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin: 1rem;
        position: relative;

        &:first-child .icon {
          margin-right: 3px;
        }

        .icon {
          font-size: 20px;
          cursor: pointer;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 1rem;
          height: 1rem;
          background-color: red;
          font-size: 10px;
          font-weight: 700;
          color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
